<!DOCTYPE html>

<html lang="en" ng-app="myApp">



<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>
	<meta charset="UTF-8">
	<title> San Diego Top Hot Spots</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>

<body ng-controller="MainController">
	<div class="container">
		<table id='topSpots' class="table table-striped">
			<tr>
				<th>{{ name }}</th>
				<th>{{ description }}</th>
				<th>{{ link }}</th>
			</tr>
			<tr ng-repeat="topspot in topspots">
				<td>{{ topspot.name }}</td>
				<td>{{ topspot.description }}</td>
				<td><a class="btn btn-primary" target="_blank" href="https://www.google.com/maps?q= {{topspot.location[0]}}, {{topspot.location[1]}}">Open in Google Maps</a></td>
			</tr>

		<!-- <input type="text" ng-model="name">	
	 -->
		</table>
	</div>

	<!-- <script src="bower_components/angular/angular.min.js"></script> -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="index.js"></script>
</body>

</html>